.container{
    display: flexbox;
}

#headText, #bottomText {
    text-align-last: center;
    font-family: 'Courier New', Courier, monospace;
}
#header{
    margin-top: 100px;
}
img{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 43%;
}
.cookie{
    position: fixed;
    justify-content: center;
}
#btnCont{
    justify-content: center;
    align-self: center;
}
button{
    margin-left: 45%;
    margin-top: 30px;
}
body{
    background-color: #FFE976;
    
   

}

footer{
    margin-top: 30%;
}